
  <div class="sub_bg" th:if="${cate.cateGroup == 'introduction'}"><img th:src="@{/images/sub_top_tit1.png}" alt="introduction" class="sub_tit"></div>
  <div class="sub_bg" th:if="${cate.cateGroup == 'market'}" > <img th:src="@{/images/sub_top_tit2.png}" alt="Market" class="sub_tit"></div>
  <div class="sub_bg" th:if="${cate.cateGroup == 'croptalk'}" > <img th:src="@{/images/sub_top_tit3.png}" alt="croptalk" class="sub_tit"></div>
  <div class="sub_bg" th:if="${cate.cateGroup == 'event'}" > <img th:src="@{/images/sub_top_tit4.png}" alt="event" class="sub_tit"></div>
  <div class="sub_bg" th:if="${cate.cateGroup == 'community'}"> <img th:src="@{/images/sub_top_tit5.png}" alt="community" class="sub_tit"></div>
  <div  class="sub_bg myInfo" th:if="${cate.cateGroup == 'myinfo'}"> <img th:src="@{/images/myinfo/myinfo_top_tit.png}" alt="myinfo" class="sub_tit"></div>
