<section>
    <form>
        <h5>비밀번호 변경</h5>
        <table>
            <tr>
                <th>아이디</th>
                <td>홍길동</td>
            </tr>
            <tr>
                <th>새 비밀번호</th>
                <td><input type="text" name="password" placeholder="새 비밀번호 입력"></td>
            </tr>
            <tr>
                <th>새 비밀번호 확인</th>
                <td><input type="text" name="password" placeholder="새 비밀번호 입력"></td>
            </tr>
        </table>
    </form>
    <h5>비밀번호를 변경해 주세요.<br>
        영문,숫자,특수문자를 사용하여 8자 이상 입력해 주세요.
    </h5>

    <div class="btn-group">
        <button><a href="#" class="btn">취소</a></button>
        <button><a href="#" class="btn">다음</a></button>
    </div>
</section>