<section class="find-section">
    <div>
        <form  action="" method="post">
            <h4>아이디 찾기 결과</h4>
            <table class="idresult">
                <tr>
                    <th>이름</th>
                    <td>홍길동</td> <!-- 동적 데이터 -->
                </tr>
                <tr>
                    <th>아이디</th>
                    <td>honggildong</td> <!-- 동적 데이터 -->
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>honggildong@gmail.com</td> <!-- 동적 데이터 -->
                </tr>
                <tr>
                    <th>가입일</th>
                    <td>2022-11-16 10:20</td> <!-- 동적 데이터 -->
                </tr>
            </table>
            <h5>고객님의 정보와 일치하는 아이디입니다.</h5>

            <div class="btn-group">
                <button type="submit" class="btn" id="blogin">로그인</button> <!-- 로그인 버튼 -->
                <button type="button" class="btn" id="find-pass">비밀번호 찾기</button> <!-- 비밀번호 찾기 버튼 -->
            </div>
        </form>
    </div>
</section>