<section>
  <h2>비밀번호 찾기</h2>
  <hr>
  <div class="table">
    <div>
      <label class="id" name="id">아이디</label>
    </div>
    <div>
      <input class="idtext" type="text"  placeholder="아이디 입력">
    </div>
    <div>
      <label class="email" name="email">이메일</label>
    </div>
    <div>
      <input class="emailtext" type="email" placeholder="이메일 입력">
      <button class="getCodeBtn">인증번호 받기</button>
      <input class="verificationCodetext" type="text" placeholder="인증번호 입력">
      <button class="verificationCode">확인</button>
    </div>
  </div>
  <div class="note">
    비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요. </br>
    회원가입시 입력한 아이디와 이메일 주소가 같아야, 인증번호를 받을 수 있습니다. </br>
    인증번호를 입력 후 확인 버튼을 누르세요.
  </div>
  <div class="bottom">
    <button class="cancelBtn">취소</button>
    <button class="nextBtn">다음</button>
  </div>
</section>