<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
<section class="register">
  <form th:action="@{/user/register}" method="post">
    <table border="1">
      <caption>사이트 이용정보 입력</caption>
      <tr>
        <td>아이디</td>
        <td>
          <input type="text" name="uid" class="inputUid" placeholder="아이디 입력"/>
          <button type="button" id="btnCheckUid"  data-type="uid"><img th:src="@{/images/user/chk_id.gif}" alt="중복확인"></button>
          <span id="resultUid"></span>
        </td>
      </tr>
      <tr>
        <td>비밀번호</td>

        <td><input type="password" name="pass" class="inputPass" placeholder="비밀번호 입력"/></td>

      </tr>
      <tr>
        <td>비밀번호 확인</td>
        <td>
          <input type="password" name="pass2" class="inputPass" placeholder="비밀번호 입력 확인"/>
          <span id="resultPass"></span>
        </td>
      </tr>
    </table>
    <table border="1">
      <caption>개인정보 입력</caption>
      <tr>
        <td>이름</td>
        <td>
          <input type="text" name="name" class="inputName" placeholder="이름 입력"/>
          <span id="resultName"></span>
        </td>
      </tr>
      <tr>
        <td>별명</td>
        <td>
          <p class="nickInfo">공백없는 한글, 영문, 숫자 입력</p>
          <input type="text" name="nick" class="inputNick" placeholder="별명 입력"/>
          <button type="button" id="btnCheckNick" data-type="nick"><img th:src="@{/images/user/chk_id.gif}" alt="중복확인"/></button>
          <span id="resultNick"></span>
        </td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td>
          <input type="email" name="email" class="inputEmail" placeholder="이메일 입력"/>
          <button type="button" id="btnCheckEmail"  data-type="email" ><img th:src="@{/images/user/chk_auth.gif}" alt="인증번호 받기"/></button>
          <span id="resultEmail"></span>
          <div class="auth">
            <input type="text" name="auth" class="inputEmailCode" placeholder="인증번호 입력"/>
            <button type="button" id="btnCheckEmailCode"  ><img th:src="@{/images/user/chk_confirm.gif}" alt="확인"/></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>휴대폰</td>
        <td>
          <input type="text" name="hp" class="inputHp" placeholder="휴대폰 입력"/>
          <button type="button" id="btnCheckHp" data-type="hp"><img th:src="@{/images/user/chk_id.gif}" alt="중복확인"/></button>
          <span id="resultHp"></span>

        </td>
      </tr>
      <tr>
        <td>주소</td>
        <td>
            <input type="text" name="zip" id="inputZip" placeholder="우편번호"/>
            <button type="button" class="btnZip" onclick="postcode()"><img th:src="@{/images/user/chk_post.gif}" alt=""></button>
            <input type="text" name="addr1" id="inputAddr1" placeholder="주소 검색"/>
            <input type="text" name="addr2" id="inputAddr2" placeholder="상세주소 입력"/>
        </td>
      </tr>
    </table>

    <div>
      <a th:href="@{/category/user/login}" class="btnCancel">취소</a>
      <input type="submit"   class="btnSubmit" value="회원가입"/>
    </div>
  </form>
</section>