logging:
    file:
        name: /logs/board.log
    level:
        jdbc:
            resultsettable: debug
            sqlonly: debug
            sqltiming: debug
        root: info
server:
    port: 8080
    servlet:
        context-path: /Farmstory
spring:
    application:
        name: FarmStory
        version: ${version}
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: Qwe123!`
        url: jdbc:mysql://52.79.87.164:3306/farmstory
        username: farmstory
    devtools:
        livereload:
            enabled: true
    jpa:
        database: mysql
        hibernate:
            ddl-auto: update
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        properties:
            hibernate:
                format_sql: true
                show_sql: true
    servlet:
        multipart:
            location: uploads/
            max-file-size: 10MB
    thymeleaf:
        cache: false
        check-template-location: true
        enabled: true
        prefix: classpath:/templates/
        suffix: .html
    mail:
        host: smtp.gmail.com
        port: 587
        username: loveu9911111
        password: tolkhjolmorzszso
        properties:
            mail:
                smtp:
                    port: 587
                    auth: true
                    timeout: 5000
                    starttls:
                        enable: true


