<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" -->
<!--      layout:decorate="~{/layouts/layout.html}">-->

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/mainIndex.css}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FarmStroy</title>
</head>
<body>
<div id="wrapper">
  <header th:replace="~{include/_header.html}"></header>

  <main id="main cf">
    <section class="mainIn cf">
        <section class="main_adver">
          <div class="slide">
          </div>
          <img th:src="@{/images/main_slide_img_tit.png}" alt="사람과 자연을 사랑하는 팜스토리 건강한 흙과 친환경 작물만을 연구합니다.">
          <div class="sideAd">
            <img th:src="@{/images/main_banner_txt.png}" alt="Grand Open">
            <img th:src="@{/images/main_banner_tit.png}" alt="팜스토리 오픈기념 30%할인">
            <img th:src="@{/images/main_banner_img.png}" alt="과일">
          </div>
        </section>

        <!-- 장보기 -->
        <div class="main_shopping">
          <img th:src="@{/images/main_market_tit.png}" alt="장보기 베스트 상품을 소개합니다.">
          <article class="shopping_list">
            <!-- @@@상품 임시데이터@@@ -->
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item1.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item2.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item3.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item4.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item5.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <a th:href="@{/category/market/pview}">
              <div class="product">
                <img th:src="@{/images/market_item6.jpg}" alt="상품이미지">
                <p class="protype">과일</p>
                <p>사과</p>
                <p>500g</p>
                <div class="pricediscount">
                  <span class="price">900원</span>
                  <span class="discount">80%↓</span>
                </div>
                <p class="priceResult">3000원</p>
              </div>
            </a>
            <!-- @@@상품 임시데이터 끝@@@ -->
          </article>
        </div>
    <!-- 오늘의식단, 나도요리사 -->
    <div class="main_comm_banner">
      <a th:href="@{/category/community/menu}">
        <img th:src="@{/images/main_banner_sub1_tit.png}" alt="팜스토리 오늘의 식단">
      </a>

      <a th:href="@{/category/communit/chef}">
        <img th:src="@{/images/main_banner_sub2_tit.png}" alt="팜스토리 나도 요리사">
      </a>
    </div>
    <div class="main_container">
      <!-- 텃밭가꾸기 -->
      <div class="main_crop_list">
        <a th:href="@{/category/croptalk/grow(content='list')}">
          <img th:src="@{/images/main_latest1_tit.png}" alt="텃밭 가꾸기">
        </a>
        <img th:src="@{/images/main_latest1_img.jpg}" alt="텃밭 가꾸기 이미지">
        <table border="0" class="commuList">
          <tbody>
          <!-- @@@텃밭가꾸기 임시 리스트@@@ -->
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/grow(content='view')}">텃밭 가꾸기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/grow(content='view')}">텃밭 가꾸기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/grow(content='view')}">텃밭 가꾸기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/grow(content='view')}">텃밭 가꾸기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/grow(content='view')}">텃밭 가꾸기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <!-- @@@텃밭가꾸기 임시 리스트 끝@@@ -->
          </tbody>
        </table>
      </div>

      <!-- 귀농학교 -->
      <div class="main_crop_list">
        <a th:href="@{/category/croptalk/school(content='list')}">
          <img th:src="@{/images/main_latest2_tit.png}" alt="귀농학교">
        </a>
        <img th:src="@{/images/main_latest2_img.jpg}" alt="귀농학교 이미지">
        <table border="0" class="commuList">
          <tbody>
          <!-- @@@귀농학교 임시 리스트@@@ -->
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/school(content='view')}">귀농학교</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/school(content='view')}">귀농학교</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/school(content='view')}">귀농학교</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/school(content='view')}">귀농학교</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/school(content='view')}">귀농학교</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <!-- @@@귀농학교 임시 리스트 끝@@@ -->
          </tbody>
        </table>
      </div>

      <!-- 농작물 이야기 -->
      <div class="main_crop_list">
        <a th:href="@{/category/croptalk/story(content='list')}">
          <img th:src="@{/images/main_latest3_tit.png}" alt="농작물 이야기">
        </a>
        <img th:src="@{/images/main_latest3_img.jpg}" alt="농작물 이야기 이미지">
        <table border="0" class="commuList">
          <tbody>
          <!-- @@@농작물이야기 임시 리스트@@@ -->
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/story(content='view')}">농작물 이야기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/story(content='view')}">농작물 이야기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/story(content='view')}">농작물 이야기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/story(content='view')}">농작물 이야기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <tr>
            <td>
              <img th:src="@{/images/main_latest_icon.gif}" alt=">">
            </td>
            <td>
              <a th:href="@{/category/croptalk/story(content='view')}">농작물 이야기농작물 이야기</a>
            </td>
            <td>24-09-04</td>
          </tr>
          <!-- @@@농작물이야기 임시 리스트 끝@@@ -->
          </tbody>
        </table>
      </div>
    </div>
    <img th:src="@{/images/main_cs_top_line.png}">
    <div class="info">
      <div class="introduce">
        <img th:src="@{/images/main_sub2_cs_tit.png}" alt="고객센터 안내">
        <div class="tel">
          <img th:src="@{/images/main_sub2_cs_img.png}" alt="전화 이미지">
          <img th:src="@{/images/main_sub2_cs_txt.png}" alt="1666-777 FAX:02-123-4567">
          <p class="times">
            평일: AM 09:00 ~ PM 06:00<br>
            점심: PM 12:00 ~ PM 01:00<br>
            토, 일요일, 공휴일 휴무
          </p>
        </div>
        <div class="commBtns">
          <a th:href="@{/category/community/cs}">
            <img th:src="@{/images/main_sub2_cs_bt1.png}" alt="1:1고객문의">
          </a>
          <a th:href="@{/category/community/faq}">
            <img th:src="@{/images/main_sub2_cs_bt2.png}" alt="자주묻는 질문">
          </a>
          <a th:href="@{/category/myinfo/orderitem}">
            <img th:src="@{/images/main_sub2_cs_bt3.png}" alt="배송조회">
          </a>
        </div>
      </div>
      <div class="bank">
        <img th:src="@{/images/main_sub2_account_tit.png}" alt="계좌안내">
        <p class="account">
          기업은행 123-456789-01-01-012
          <br>
          국민은행 01-1234-56789
          <br>
          우리은행 123-456789-01-01-012
          <br>
          하나은행 123-456789-01-01
          <br>
          예 금 주 (주)팜스토리
        </p>
      </div>
      <div class="notice">
        <img th:src="@{/images/main_sub2_notice_tit.png}" alt="공지사항">
        <table border="0">
          <tbody>
          <!-- @@@공지사항 임시 리스트@@@ -->
          <tr>
            <td>
              ·
            </td>
            <td>
              <a th:href="@{/category/community/notice(content='list')}">안녕하세요. 홈페이지 오픈 기념 이벤트를 하고있습니다.</a>
            </td>
            <td>
              24-09-04
            </td>
          </tr>
          <tr>
            <td>
              ·
            </td>
            <td>
              <a th:href="@{/category/community/notice(content='list')}">안녕하세요. 홈페이지 오픈 기념 이벤트를 하고있습니다.</a>
            </td>
            <td>
              24-09-04
            </td>
          </tr>
          <tr>

          </tr>
          <td>
            ·
          </td>
          <td>
            <a th:href="@{/category/community/notice(content='list')}">안녕하세요. 홈페이지 오픈 기념 이벤트를 하고있습니다.</a>
          </td>
          <td>
            24-09-04
          </td>
          </tr>
          <tr></tr>
          <td>
            ·
          </td>
          <td>
            <a th:href="@{/category/community/notice(content='list')}">안녕하세요. 홈페이지 오픈 기념 이벤트를 하고있습니다.</a>
          </td>
          <td>
            24-09-04
          </td>
          </tr>
          <tr></tr>
          <td>
            ·
          </td>
          <td>
            <a th:href="@{/category/community/notice(content='list')}">안녕하세요. 홈페이지 오픈 기념 이벤트를 하고있습니다.</a>
          </td>
          <td>
            24-09-04
          </td>
          </tr>
          <!-- @@@공지사항 임시 리스트@@@ -->
          </tbody>
        </table>
      </div>
    </div>
    </section>
  </main>
  <footer th:replace="~{include/_footer.html}"></footer>
</div>
</body>

</html>