/* 글목록 */
.list {
    position: relative;
    width: 762px;
    margin: 40px auto;
    margin-left: 0px;
}
.list > h3{
    font-size: 12px;
}

.list > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.list table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.list table th {
    padding: 12px;
    border-top: 1px solid #9d9a92;
    border-bottom: 1px solid #9d9a92;
    background: #e6e2d4;
    color: #171513;
}
.list table td {
    padding: 12px 6px;
    border-top: 1px solid #2c5f2d;
    border-bottom: 1px solid #f2f2f2;
}
.list table tr > th:nth-child(1) {width:  50px; text-align: center;}
.list table tr > th:nth-child(2) {width:  auto; text-align: left;}
.list table tr > th:nth-child(3) {width: 100px; text-align: center;}
.list table tr > th:nth-child(4) {width: 100px; text-align: center;}
.list table tr > th:nth-child(5) {width:  50px; text-align: center;}

.list table tr > td:nth-child(1) {width:  50px; text-align: center; background: #fff;}
.list table tr > td:nth-child(2) {width:  auto; text-align: left;}
.list table tr > td:nth-child(3) {width: 100px; text-align: center;}
.list table tr > td:nth-child(4) {width: 100px; text-align: center;}
.list table tr > td:nth-child(5) {width:  50px; text-align: center;}



.list > .paging {
    padding: 20px;
    text-align: center;
}
.list > .paging  a {
    padding: 6px;
    background: #f2f2f2;
    border: 1px solid #d7d7d7;
}

.list > .paging  .active {
    border: 1px solid #cacaca;
    background: #f9faf5;
    color: #111111;
}
.list > .btnWrite {
    position: absolute;
    /*    bottom: 14px; */
    right: 0;
}



.list > #search_input{
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
}
.list > #search_input > .listTit{
    float: left;
    padding-top: 7px;
}

.list > #search_input > .search{
    float: right;
    height: auto;

}
.list  .search > select.select_type{
    height: 25px;
}
.list  .search > input[type="text"] {
    height: 22px;
    width: 180px;
}
.list  .search > input.keySubmit{
    height: 25px;
    width: 40px;
}





/* 글쓰기 */
.write {
    position: relative;
    width: 762px;
    margin: 40px auto;
    margin-left: 0px;
}

.write > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.write table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.write table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #F9FAF5FF;
    color: #383838;
}
.write table td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.write table td:nth-child(1) {
    width: 100px;
    background: #F9FAF5FF;
    text-align: center;
}
.write table input {
    width: 100%;
    height: 24px;
    border: 0;
}
.write table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: 0;
}
.write form > div {
    margin-top: 10px;
    text-align: right;
}

/* 글보기 */
.view {
    position: relative;
    width: 762px;
    margin: 40px auto;
    margin-left :0px;
}

.view > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.view table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.view table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #F9FAF5FF;
    color: #383838;
}
.view table td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.view table td:nth-child(1) {
    width: 100px;
    background: #F9FAF5FF;
    text-align: center;
}
.view table input {
    width: 100%;
    height: 24px;
    border: 0;
}
.view table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: 0;
}
.view > div {
    padding: 16px 0;
    text-align: right;
}

.view > section {
    padding: 20px;
    border: 1px solid #e3e3e3;
    background: #f9f9f9;
    margin-bottom: 16px;
}
.view > section > h3 {
    font-weight: bold;
}
.view > .commentList > article {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
}

.view > .commentList > article > textarea {
    width: 100%;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: transparent;
}
.view > .commentList > article > div {
    text-align: right;
}

.view > .commentList > .empty {
    padding: 20px 0;
    text-align: center;
}

.view > .commentForm > form > textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    margin: 10px 0;
    resize: none;
}
.view > .commentForm > form > div {
    text-align: right;
}


/* 글수정 */
.modify {
    position: relative;
    width: 762px;
    margin: 40px auto;
    margin-left:0px;
}

.modify > article > p {
    position: absolute;
    right: 0;
    top: 0;
}

.modify table {
    width: 100%;
    border-top: 2px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

.modify table th {
    padding: 12px;
    border-top: 1px solid #d1dee2;
    border-bottom: 1px solid #d1dee2;
    background: #e5ecef;
    color: #383838;
}
.modify table td {
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.modify table td:nth-child(1) {
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}
.modify table input {
    width: 100%;
    height: 24px;
    border: 0;
}
.modify table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: 0;
}
.modify form > div {
    margin-top: 10px;
    text-align: right;
}



/* 버튼 공통 */
.btnNext   { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #e9e9e9; color: #111;}
.btnSubmit { display: inline-block; padding: 7px; border: 1px solid #bebebe; background: #e9e9e9; color: #111;}
.btnWrite  { display: inline-block; padding: 7px; border: 1px solid #3b3c3f; background: #4b545e; color: #fff !important;}
.btnCancel { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnDelete { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnModify { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnList   { display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btnComplete{display: inline-block; padding: 8px; border: 1px solid #bebebe; background: #fdfdfd; color: #111;}
.btn:hover {
    background:#4b545e;
    color: #fdfdfd;
}