section {
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
}
h4 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th {
    width: 120px;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
}
td {
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
.idtext, .emailtext, .verificationCodetext {
    width: calc(100% - 100px); /* 버튼 공간 제외 */
    padding-left: 7px;
    background-color: #F7F7F7;
    border: 1px solid #E4EAEC;
    height: 30px;
    margin-bottom: 0px; /* 여백 없애기 */
}
.getCodeBtn, .verificationCode {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 34px;
    background-color: white;
    border: 1px solid #bebebe;
    font-weight: bold;
    cursor: pointer;
}
.note {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.bottom {
    text-align: right;
    margin-top: 20px;
}
.cancelBtn, .nextBtn {
    width: 60px;
    height: 34px;
    border: 1px solid #bebebe;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
}
